*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
}

.heroSection{
    display: flex;
    width: 800px;
    font-family: Lexend Deca;
    color: white;
}

.container1, .container2, .container3{
    padding: 40px;
}

.logo{
    width: 50px;
    margin-bottom: 20px;
}

.title{
    font-family: Big Shoulders Display;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.para{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 60px;
}

.learnMore1, .learnMore2, .learnMore3{
    border: none;
    border-radius: 20px;
    width: 70%;
    padding: 10px;
    font-weight: bold;
}

.container1{
    background-color: rgb(255, 128, 0);
    border-radius: 10px 0px 0px 10px;
}

.learnMore1{
    color: rgb(255, 128, 0);
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.learnMore1:hover{
    border: 3px solid white;
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 7px;
}

.container2{
    background-color: rgb(2, 103, 103);
}

.learnMore2{
    color: rgb(2, 103, 103);
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.learnMore2:hover{
    border: 3px solid white;
    background-color: rgb(2, 103, 103);
    color: white;
    padding: 7px;
}

.container3{
    background-color: rgb(0, 46, 46);
    border-radius: 0px 10px 10px 0px;
}

.learnMore3{
    color: rgb(0, 46, 46);
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.learnMore3:hover{
    border: 3px solid white;
    background-color: rgb(0, 46, 46);
    color: white;
    padding: 7px;
}

@media(max-width:600px){
    .heroSection{
        width: 80%;
        flex-direction: column;
        margin: 35px;
    }

    .container1{
        border-radius: 10px 10px 0px 0px;
    }

    .container3{
        border-radius: 0px 0px 10px 10px;
    }

    .para{
        width: 90%;
        font-size: 15px;
        line-height: 1.4;
    }
}